*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    font-family: 'Lato', sans-serif;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    background-color: var(--secondColor);
    height: auto;
    padding-top: 40px;
    width: 100vw;
}

.footer-content{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}


/*estilo de contacto*/
.footer-contacto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: 35vw; */
    padding: 20px;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}



.footer-contacto-sub p{
    font-size: 30px;
    color: white;
    display: flex;
    align-items: start;
    justify-content: start;
}

.footer-contacto ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.footer-contacto li{
    display: flex;
    color: #AEADAD;
    margin: 5px;
}

.footer-contacto li i{
    margin: 0px 10px 0px 0px;
}

/* estilo de los iconos sociales */
.footer-icons{
    /* width: 25vw; */
    /* padding: 20px; */
    text-align: center;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
}

.iconos{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 1.5rem 0;
}

.iconos-footer{
    font-size: 25px;
}

.iconos li{
    margin: 0 15px;
}

li a{
    display: flex;
    text-decoration: none;
    color: #AEADAD;
    border: 2px solid #AEADAD;
    padding: 3px 5px;
    border-radius: 20%;
    align-items: center;
    /* width: 35px; */
    justify-content: center;
    align-content: center;
}

/* estilo del texto del footer */
.footer-texto{
    background-color: var(--secondColor);
    width: 40vw;
    padding: 20px;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.footer-texto p{
    color: #AEADAD;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}


/* responsive */
@media screen and (max-width:880px) {
    .footer-texto p{
        font-size: 12px;
    }
}

@media screen and (max-width:500px) {
    .footer-texto {
        width: 100vw;
    }
}

