/*Inicio*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root{
  /* Paleta de Inicio */
  --mainColor: #8698d9; /*Color de los titulos, segundo cuadro, bordes de las imagenes de la ultima sección*/
  --textSubtittle:#535252; /*Texto que aparece debajo del titulo en la sección 1*/
  --textSubscribeColor: #ffffff; /*Color del texto del botón suscribirse*/
  --mainArrowColor: #909090; /*Color de la flecha deslizar*/
  --textColor: #666666; /*Color del texto y de las imagenes de la ultima sección*/
  --squareColor: #292c2e; /*Color de los cuadros 1 y 3 de la segunda sección*/
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* contenedor principal ======================================= */
#section-1 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.contenedor_principal {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 1rem 0 3rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.inicio {
  --opacidad-negro: 0.09;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/img_inicio/back_pen.jpg");
  background-position: center;

  background-size: cover;
  background-repeat: no-repeat;

}

/*Flecha deslizar hacia abajo*/
.demo a {
  position: absolute;
  bottom: 10px; /*Posición de la flecha*/
  left: 12%;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: var(--mainArrowColor);
  font : normal 500 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#section04 a {
  padding-top: 50px;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px; /*Tamaño de flecha*/
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid var(--mainArrowColor); /*Grosot flecha*/
  border-bottom: 2px solid var(--mainArrowColor);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/* ===================================================== */

/* contenido texto */
.Texto_arriba {
  display: flex;
  flex-direction: column;
  /* padding-left: 65px;  */
  margin-left: 90px;
  font-size: 15px;
  width: 490px;
  gap: 15px;
  transition: .5s;
}

.titulo_arriba {
  color: var(--mainColor);
  font-size: 2.8em;
  text-align: left;


}

.descripcion_arriba {
  color: var(--textSubtittle);
  font-size: 1.8rem;

}

.button {
  text-decoration: none;
  width: 140px;
  border: none;
  font-weight: 700;
  border-radius: 20px;
  color: var(--textSubscribeColor);
  font-size: 20px;
  height: 32px;
  margin-top: 15px;
  cursor: pointer;
  background-image: linear-gradient(90deg,
      hsl(227deg 52% 69%) 0%,
      hsl(216deg 58% 66%) 11%,
      hsl(208deg 61% 64%) 22%,
      hsl(202deg 60% 62%) 33%,
      hsl(197deg 57% 60%) 44%,
      hsl(193deg 52% 59%) 56%,
      hsl(188deg 46% 60%) 67%,
      hsl(182deg 38% 60%) 78%,
      hsl(175deg 34% 63%) 89%,
      hsl(166deg 31% 66%) 100%);

}


html {
  scroll-behavior: smooth;
}


/* boton scroll down */

.container-scroll {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  bottom: 0px;
  cursor: pointer;
  gap: 20px;
  flex-direction: column;
  text-decoration: none;
  color: var(--mainArrowColor);
}

.cuadro_medio {

  color: var(--mainColor);
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 55px;
  font-weight: 900;
  margin-top: 30px;
  padding-top: 40px;
}


.contenedor_cuadros {
  font-weight: 800;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 100px auto;
  margin-top: 30px;
  padding: 20px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-template-rows: 400px 400px 400px;
  justify-self: center;
  align-self: center;
}

/* estilo general ============== */
.hijo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hijo h1 {
  font-size: 2.5em;
}

.hijo h2 {
  font-size: 1.5em;
  color: var(--textColor);
  padding-top: 30px;

}

/* ============================= */
/* estilo cuaro 1 */
.cuadro-1 {
  background-color: var(--squareColor);
  background-position: center;
}

.cuadro-1 img {
  height: 240px;
}

/* box cuadro 2 y  box cuadro 6 */

.title_box_cuadro {
  text-align: right;
  width: 450px;
  margin: auto;
}

.title-only {
  position: relative;
}

.title-only::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 4px;
  right: 0;
  top: 45px;
  background-color: var(--mainColor);
}

.content-only {
  position: relative;
}

/* ====================== */

/* box cuadro 3 */
.title_box_cuadro2 {
  width: 450px;
  text-align: left;
  margin: auto;
}

.title_box_cuadro2 .title-only::after {
  left: 0;
}

/* ====================== */

.cuadro-4 {
  background-color: var(--mainColor);
}

.cuadro-4 img {
  height: 240px;
}

.cuadro-5 {
  background-color: var(--squareColor);
}

.cuadro-5 img {
  height: 240px;
}

.tu_mejor_opcion {
  color: var(--mainColor);
  text-align: center;
  margin-top: -20px;
  margin-bottom: 73px;
  font-weight: 700;
  font-size: 38px;
}

.otro-color {
  color: black;
}

.contenedor-iconos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  width: 100%;
  justify-content: center;
}

.contenedor-iconos h2 {
  font-family: "Lato", sans-serif;
  color: var(--textColor);
  font-size: 21px;
  margin-top: 7px;
}


.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.rectangulo {
  border: var(--mainColor) 3px solid;
  height: 7.8em;
  width: 7.8em;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  display: flex;
  justify-content: center;
}

.material-icons {
  font-size: 4.9em !important;
  padding-top: 23px;
  color: var(--textColor);
}

.description-icons {
  text-align: center;
  width: 12em;
  margin-top: 15px;
}


/*PC*/
@media (min-width: 1024px){

  .contenedor-iconos{
    width: 88%;
    margin: 0 auto 70px auto;
    gap: 10px;
  }

  .contenedor-iconos{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

/*Tablet*/
@media (min-width: 651px) and (max-width:1023px) {

  .title_box_cuadro2, .title_box_cuadro {
    width: 300px;
  }

  .contenedor-iconos{
    grid-template-columns: 1fr 1fr;
  }

  .contenedor-iconos{
    width: 75%;
    margin: 0 auto 70px auto;
  }
}

/* mobile  */
@media (max-width: 650px) {

  .contenedor-iconos{
    grid-template-columns: 1fr;
  }

  .Texto_arriba {
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  /*Nuevo estilo para titulo*/
  .titulo_arriba {
    text-align: center;
    font-size: 1.9em;
    margin: 0 10px;
    /* inline-size: 240px;*/
  }

  /*Nuevo estilo para descripcion del título*/
  .descripcion_arriba {
    text-align: center;
    font-size: 1.4em;
    /* inline-size: 240px; */
    font-weight: 500;
    margin-top: 5px;
    margin: 5px 8px 0 8px;
    line-height: 20pt;
  }

  .title_box_cuadro2,
  .title_box_cuadro {
    text-align: center;
    width: 300px;
  }

  .title-only {
    width: 210px;
    margin: auto;
  }

  /*Quitando linea para modo celular*/
  .title-only::after {
    width: 100% !important;
    display: none;
  }

  .contenedor_cuadros {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 400px 400px 400px 400px 400px 400px;
  }

  .cuadro-3 {
    grid-row-start: 4;
  }

  .contenedor-iconos {
    gap: 30px;
    margin: 0 auto 70px auto;
  }

  .contenedor_cuadros div h1 {
    font-size: 2em;
  }

  .contenedor_cuadros div h2 {
    font-size: 1.33em;
  }

  /*Colocando margen a los costados */
  .tu_mejor_opcion{
    margin: -20px 12px 73px 12px;
  }
}