/*Inicio*/

*{
    padding: 0;
    margin: 0;
}


.contenedor_principal {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1rem 0 3rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.inicio {
  background-image: url(../img/img_inicio/rsz_1lapiz.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  
}




.Texto_arriba {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 65px; 
  justify-content: center;
  font-size: 15px;
  align-items: start;
  width: 419px;
  text-align: left;
  gap: 15px;
}

.titulo_arriba {
  color: #8698d9;
  font-size: 3em;
  font-family: "Rajdhani", sans-serif;
  text-align: left;
  
}

.descripcion_arriba {
  color: #292c2e;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
}

.button {
  display: flex;
  width: 140px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  color: #ffffff;
  font-size: 20px;
  height: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  background-image: linear-gradient(
    90deg,
    hsl(227deg 52% 69%) 0%,
    hsl(216deg 58% 66%) 11%,
    hsl(208deg 61% 64%) 22%,
    hsl(202deg 60% 62%) 33%,
    hsl(197deg 57% 60%) 44%,
    hsl(193deg 52% 59%) 56%,
    hsl(188deg 46% 60%) 67%,
    hsl(182deg 38% 60%) 78%,
    hsl(175deg 34% 63%) 89%,
    hsl(166deg 31% 66%) 100%
); 
}

html{
  scroll-behavior: smooth;
}

.container-scroll{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 46%;
  bottom: 0px;
  cursor: pointer;
  gap: 20px;
  flex-direction: column;
  text-decoration: none;
  color: #909090;
}



#scroll-btn::before{
  content: "";
  position: absolute;
  transform: rotate(200deg);
  width: 50px;
  height: 10px;
  left: 5px;
  background-color:#909090;
}

.scroll-btn::after{
  content: "";
  z-index: 100;
  position: absolute;
  transform: rotate(-200deg);
  width: 50px;
  height: 10px;
  right: 5px;
  background:#909090;
}





.cuadro_medio {
  
  color: #8698d9;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
  font-size: 55px;
  font-weight: 900;
  margin-top: 30px;
  padding-top: 40px;
}


.contenedor_cuadros {
  font-weight: 800;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 100px auto;
  margin-top: 30px;
  padding: 20px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-template-rows: 400px 400px 400px;
  justify-self: center;
  align-self: center;
}

.hijo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.cuadro-1 {
  background-color: #292c2e;
  background-position: center;
}
.cuadro-1 img {
  height: 240px;
}

.cuadro-2 {
  background-color: #ffffff;
  text-align: end;
  align-items: end;
}
.cuadro-2 h1 {
  font-family: "Rajdhani", sans-serif;
  font-size: 3em;
  padding-right: 48px;
  display: inline-block;
  position: relative;
}
.cuadro-2 h1::after{
    content: "";
    position: absolute;
    width: 84%;
    height: 5px;
    bottom: -4px;
    left: 0;
    background-color: #8698d9;
}
.cuadro-2 h2 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #666666;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px
}

.cuadro-3 {
  background-color: #ffffff;
  text-align: left;
  align-items: start;

}
.cuadro-3 h1 {
  position: relative;
  font-family: "Rajdhani", sans-serif;
  font-size: 3em;
  padding-left: 48px;
  
}
  .cuadro-3 h1::after{
  content: "";
  position: absolute;
  width: 84%;
  height: 5px;
  bottom: -4px;
  right: 0;
  background-color: #8698d9;
}
.cuadro-3 h2 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #666666;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  
}

.cuadro-4 {
  background-color: #8698d9;
  background-position: center;
}
.cuadro-4 img {
  height: 240px;
}

.cuadro-5 {
  background-color: #292c2e;
  background-position: center;
  
}
.cuadro-5 img {
  height: 240px;
}

.cuadro-6 {
  background-color: #ffffff;
  text-align: end;
  align-items: end;
}
.cuadro-6 h1 {
  font-family: "Rajdhani", sans-serif;
  font-size: 3em;
  padding-right: 48px;
  position: relative;
}
.cuadro-6 h1::after{
  content: "";
  position: absolute;
  width: 84%;
  height: 5px;
  bottom: -4px;
  left: 0;
  background-color: #8698d9;
}
.cuadro-6 h2 {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  color: #666666;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px
}


.tu_mejor_opcion{
    font-family: "Rajdhani", sans-serif;
    color: #8698d9;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 73px;
    font-weight: 700;
    font-size: 38px;

}
.otro-color{
    color:black;    
}

.contenedor-iconos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    margin-top: 60px; 
    margin: 20px;
}
.contenedor-iconos h1{
    font-family: "Rajdhani", sans-serif;
}
.contenedor-iconos h2{
    font-family: "Lato", sans-serif;
    color: #666666;
    font-size: 21px;
    margin-top: 7px;
}


.icon{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.rectangulo {
    border: #8698d9 3px solid;
    height: 8em;
    width: 8em;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    display: flex;
    justify-content: center;
}

.material-icons{
    font-size: 5em !important;
    padding-top: 23px;
    color:#666666
}

.description-icons{
    text-align: center;
    width: 12em;
    margin-top: 15px;
}




/* mobile  */
  @media screen and  (max-width: 675px) {
    
    .inicio{
      background-size: cover;
      width: 100%;
      height: 500px;
    }
    
    .Texto_arriba{
      margin-top: 40px;
      width: 300px;
    }

    .titulo_arriba{
      font-size: 1.8em;
    }
    
    a#scroll-btn{
      bottom: 4.8em;
    }


    .contenedor_cuadros{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: 400px 400px 400px 400px 400px 400px;
    }
    .cuadro-2, .cuadro-3, .cuadro-6{
      text-align: center;
      align-items: center;
    }
    .cuadro-2 h1, .cuadro-3 h1, .cuadro-6 h1{
      padding: 0;
    }
    .cuadro-2 h1::after{
    left: 20px;
    }
    .cuadro-3 h1::after{
      right: 20px;
    }
    .cuadro-6 h1::after{
      left: 20px;
    }
    .cuadro-2{
      grid-row-start: 4;
    }

    .contenedor-iconos{
      gap: 30px;
    }
  }
