@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    /*fuente*/
    --font-first: 'Lato', sans-serif;
    /*============*/
    --color-first: #8698D9;
    --color-white: white;
    --color-two: #292C2E;
    --color-button-373F59: #373F59;
    --color-hover-button: #585f83;

    --transparend: transparent;
    /*tamaños*/
    --first-height: 10vh;
    /*gap*/
    --gap-5px: 5px;
    --gap-10px: 10px;
    --gap-20px: 20px;
    /*z-index*/
    --zindex-1: 1;
    --zindex-2: 2;
    --zindex-0: 0;
    /*font-weight*/
    --font-weight-700: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*diseño global*/
li {
    text-decoration: none;
    list-style-type: none;
}


body {
    font-family: var(--font-first);
}

html {
    scroll-behavior: smooth;
}

/*============*/
/*estilo header*/
.header {
    width: 100%;
    position: fixed;
    background-color: var(--transparend);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    transition: .3s;
    z-index: 2;

}

header.sticky {
    background-color: var(--color-first);
    box-shadow: 1px 4px 9px -1px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 1px 4px 9px -1px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 1px 4px 9px -1px rgba(0, 0, 0, 0.48);
    height: 70px;

}

/*===========*/
/*logo*/
.logo {
    cursor: pointer;
    margin-right: auto;
    color: var(--color-two);
}
/*======================*/

/*estilo navbar*/
.nav {
    display: flex;
    transition: .3s ease;
}
/*=============*/
/*estilo listas*/
.lista-links {
    position: relative;
    display: flex;
    font-weight: var(--font-weight-700);
    font-size: 1.2em;
    gap: var(--gap-20px);
    padding: 0 30px;

}
/*estilo listas a*/
.lista-links a {
    position: relative;
    text-decoration: none;
    color: var(--color-two);
}
/*====================*/
/*indicador de links*/

.lista-links a::before {
    position: absolute;
    background-image: url(/components/img/header/vsg1.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
    content: '';
    width: 100%;
    height: 15px;
    border-radius: 350px;
    /* text-align: center; */
    /* color:var(--color-button-373F59); */
    /* background-color:#373f59; */
    left: 0;
    bottom: -15px;
    opacity: 0;

    transition: opacity .3s;

}

.lista-links a.selected::before {
    opacity: 1;
}

.lista-links a.selected {
    color: var(--color-button-373F59);
    font-weight: bolder;
}
/*diseños sticky*/
header.sticky a.selected {
    color: var(--color-white);
}
header.sticky .logo{
    color: var(--color-white);
}

/*=============*/

/*estilos*/

/*=============*/
/*boton login*/
.btn-log-in button {
    background-color: var(--color-button-373F59);
    color: var(--color-white);
    font-weight: var(--font-weight-700);
    padding: 9px 25px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    border-radius: 10px;
}

.btn-log-in button:hover {
    background-color: var(--color-hover-button);
}

/*=============*/

.menu-btn {
    display: none;
}



/*navbar mobile*/

@media screen and (max-width:767px) {

    /*mobil menu burger*/
    /*menu hamburguesa*/
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        margin-left: 10px;
        z-index: var(--zindex-2);
    }

    .menu-btn__burger {
        width: 30px;
        height: 4px;
        background: var(--color-two);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .3s ease-in-out;

    }

    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        background: var(--color-two);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .3s ease-in-out;

    }

    .menu-btn__burger::before {
        transform: translateY(-10px);
    }

    .menu-btn__burger::after {
        transform: translateY(10px);
    }

    /*animation*/
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background-color: transparent;
        box-shadow: none;

    }

    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: var(--color-button-373F59);

    }

    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        background-color: var(--color-button-373F59);

    }

    /*=======================================================*/

    .nav {
        position: absolute;
        background-color: var(--color-white);
        top: 0px;
        left: -700px;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        z-index: var(--zindex-2);

    }

    .lista-links {
        flex-direction: column;
        text-align: center;
        height: 80vh;
        justify-content: center;
        font-size: 2em;
        gap: 70px;

    }

    .lista-links li a {
        color: var(--color-button-373F59);
    }
    header.sticky a.selected {
        color: var(--color-button-373F59);
    }

    .active {
        left: 0;
    }

}